/* admin-style.css */

/* Need to eliminate the [Add price] button to prevent
 * conflicts with the [Set regular prices] bulk function. */
 .woocommerce-add-variation-price-container {
    display: none !important;
}

/* Product list table layout */
.wp-list-table {
    table-layout: fixed;
}

.wp-list-table .column-product_attributes {
    width: 11%;
}

.wp-list-table td {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Bulk reapply markup progress notice styles */
.mt2mba-bulk-progress {
    margin: 5px 0 15px;
}

.mt2mba-bulk-progress .spinner {
    float: none;
    margin: 0 10px;
}

/* Product list markup icon styles*/
.js-mt2mba-reapply-markup {
    color: #2271b1;
    margin: 2px 0 0 4px;
    display: inline-block;
}
 
.js-mt2mba-reapply-markup .dashicons {
    font-size: 20px;
    width: 22px;
    height: 22px;
}

.js-mt2mba-reapply-markup.processing {
    opacity: 0.5;
}

.js-mt2mba-reapply-markup.error {
    color: red;
}

/* Remove focus outline from reprice link*/
.js-mt2mba-reapply-markup:focus {
    outline: none;
    box-shadow: none;
}

.js-mt2mba-reapply-markup:hover {
    color: #135e96;  /* WP admin blue hover color*/
    text-decoration: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.dashicons-update-spin {
    animation: spin 1.5s linear infinite;
}